canvas {
    position: absolute;
    margin: 0;
    padding: 0;

}

.input > p{
    position: absolute;
    color: white;
    left: 38%;
    margin-top: 1px;
}

.input {
    position: absolute;
    top: 25%;
    margin-left: 75px;
}

.input > label {
    color: white;
    font-style: italic;
    font-size: 30px;
    margin-right: 10px;
}

.btn-start {
    position: absolute;
    top: 10%;
    left: 4%;
    width: 90px;
    height: 90px;
    background: #35B24C;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #35B24C;
    border-radius: 50%;
}

.btn-start:hover {
    background:#004c3e;
    border-color: #004c3e;
}

.btn-start:active {
    background-color: #00816A;
    border-color: #00816A;
}

.btn-stop {
    position: absolute;
    top: 10%;
    left: 12%;
    width: 90px;
    height: 90px;
    background: #FF4400;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FF4400;
    border-radius: 50%;
}

.btn-stop:hover {
    background:#a82c00;
    border-color: #a82c00;
}

.btn-stop:active {
    background-color: #FF4400;
    border-color: #FF4400;
}




